pkgbase = marcel
	pkgdesc = A modern shell
	pkgver = 0.25.0
	pkgrel = 1
	url = https://github.com/geophile/marcel
	arch = any
	license = GPL-3.0-only
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-dill
	depends = python-psutil
	source = https://github.com/geophile/marcel/archive/refs/tags/v0.25.0.tar.gz
	b2sums = fc3ce2083f74c50a84454da8a4eb18520de6d9a1cc18a1ef8c3425c0c5c0f9f18b8e64ca014d9e21fc880a97d455778d84a0e46bd937298f39fac17160953db5

pkgname = marcel
