pkgbase = marcel
	pkgdesc = A modern shell
	pkgver = 0.27.2
	pkgrel = 1
	url = https://github.com/geophile/marcel
	arch = any
	license = GPL-3.0-only
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-dill
	depends = python-psutil
	source = https://github.com/geophile/marcel/archive/refs/tags/v0.27.2.tar.gz
	b2sums = e3ca0a0520529eef4afc7e2c47139aa8d86766cebb2aa978d67ac709578e327351086399f91a706b1d06d1a2580f996727f11e77b462d176fa92c16afe3b3d83

pkgname = marcel
