pkgbase = marcel
	pkgdesc = A modern shell
	pkgver = 0.28.1
	pkgrel = 1
	url = https://github.com/geophile/marcel
	arch = any
	license = GPL-3.0-only
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-dill
	depends = python-psutil
	source = https://github.com/geophile/marcel/archive/refs/tags/v0.28.1.tar.gz
	b2sums = 7c014061853f6e06ed71edb2a351fa06940d4bc3f7011fe99892b7be31bf0cf81e0d5168e042632a4da5b3827c643aa9927ce9afb61662046a94cdd544bc7b0a

pkgname = marcel
